*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-div{
    width: 100%;
    height: 70px;
    border: 2px solid black;
    background: red;
    position: fixed;
}
.banner-div{
    width: 100%;
    height: 640px;
    border: 2px solid black;
    background-color: red;
}
.anchorsection{
    width: 100%;
    height: 640px;
    border: 4px solid red;
    background-color: white;
    
}
.mugsection{
    width: 100%;
    height: 630px;
    border: 4px solid yellow
}
.Qoute{
    width: 100%;
    height: 270px;
    border: 2px;
    background-color:  gray;
}
.footer{
    width: 100%;
    height: 350px;
    border: 2px;
    background-color:  purple;
}